@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;
    scroll-behavior: smooth !important;
}

body {

    background: #F5F5F5;
}

a {
    color: white !important;

}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.pointer {
    cursor: pointer;
}

.clr_yellow {
    color: #FBB034;
    ;
}

.bg1 {
    background-image: url(../src/assets/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.program {
    border: 1px solid #FBB034;
    padding: 14px 40px;
}

.hello {
    background-image: url(../src/assets/helloback.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
}

.line {
    background-color: #FBB034;
    padding: 3px 19px;
    margin-bottom: 5px !important;
    border-radius: 10px;
}

.home:hover {
    color: #FBB034;
}

.book {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
    background: #FBB034;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
    color: #000000;
}

.all {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
    border: 1px solid #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
    color: #FFFFFF;
}

.section_1_image {
    bottom: 0;
    right: 0;
}

.vh-80 {
    min-height: 80vh;
}

.dot {
    border-bottom: 2px dotted;
}

.button_2 {
    border: 1px solid #000000;
    padding: 10px 43px;
}

.mlra {
    margin-left: auto !important;
    margin-right: auto !important;
}

.Welcome {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 106.5%;
}

.best {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 114.5%;
    color: #FFFFFF;
}

.box_phone {
    width: 320px;
    height: 283px;
    background: #FFFFFF;
}

.phone {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #E8E8E8;
}

.bg_1 {
    background-image: url(../src/assets/secondbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.seassor {
    bottom: -90px;
    right: -90px;
}

.shadow {
    background-image: url(../src/assets/shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.high {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 126.5%;
    color: #9A9A9A;
    /* width: 389px */
}

.white_box {
    width: 100%;
    height: 285px;
    background: #FFFFFF;
    box-shadow: 9px 25px 10px rgba(0, 0, 0, 0.01), 5px 14px 9px rgba(0, 0, 0, 0.05), 2px 6px 6px rgba(0, 0, 0, 0.09), 1px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width:992px) {
    nav ul {
        position: fixed;
        top: 60px;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: rgb(117, 117, 7);
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        z-index: 3;
        transition: 0.9s;
        line-height: 4;
    }

    #check:checked~.left0 {
        left: 0;
    }

}

@media (min-width:992px) {
    .high {
        width: 389px
    }

}



























/* root */
.ff_Poppins {
    font-family: 'Poppins', sans-serif;
}

.get {
    background: #FBB034;
    border-radius: 8px;
    padding: 14px 41px;
}
.outline_none{
    outline: none !important;
    border: none;
}
.yellow_box{
    width: 50px;
    height: 50px;
    background: #FBB034;
        border-radius: 8px 8px 0px 0px;
}
.hoverli:hover{
    color: #FBB034 !important;
}
.ff_dm_sans {
    font-family: 'DM Sans', sans-serif;
}

.ff_Jost {
    font-family: 'Jost', sans-serif;
}

/* root */

:root {
    /* font_size */
    --fs-48: 48px;
    --fs-36: 36px;
    --fs-32: 32px;
    --fs-24: 24px;
    --fs-22: 22px;
    --fs-21: 21px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-17: 17px;
    --fs-16: 16px;
    --fs-15: 15px;
    --fs-13: 13px;
    --fs-12: 12px;

    /* color */

    --color-black: #000000;
    --color-yellow: #FBB034;
    --color-white: #FFFFFF;
    --color-lightwhite: #F6F6F6;
    --color-gray: #9A9A9A;
    --color-gray2: #ABABAB;
    --color-darkgray: #565656;
    --color-lightgray: #B8B8B8;
    --color-C2C2C2: #C2C2C2;
    --color-CECECE: #CECECE;
}

/* color */
.black {
    color: var(--color-black) !important;
}

.yellow {
    color: var(--color-yellow) !important;
}

.white {
    color: var(--color-white) !important;
}

.lightwhite {
    color: var(--color-lightwhite);
}

.gray {
    color: var(--color-gray);
}

.gray2 {
    color: var(--color-gray2);
}

.darkgray {
    color: var(--color-darkgray);
}

.lightgray {
    color: var(--color-lightgray);
}

.c2c2c2 {
    color: var(--color-C2C2C2);
}

.cEcEcE {
    color: var(--color-CECECE);
}

/* bg */

.black_bg {
    background: var(--color-black);
}

.bg_yellow {
    background: var(--color-yellow);
}

.bg_light_white {
    background: var(--color-lightwhite);
}

/* font_size */

.fs_48 {
    font-size: var(--fs-48);
}

.fs_36 {
    font-size: var(--fs-36);
}

.fs_32 {
    font-size: var(--fs-32);
}

.fs_24 {
    font-size: var(--fs-24);
}

.fs_22 {
    font-size: var(--fs-22);
}

.fs_21 {
    font-size: var(--fs-21);
}

.fs_20 {
    font-size: var(--fs-20);
}

.fs_18 {
    font-size: var(--fs-18);
}

.fs_17 {
    font-size: var(--fs-17);
}

.fs_16 {
    font-size: var(--fs-16);
}

.fs_15 {
    font-size: var(--fs-15);
}

.fs_13 {
    font-size: var(--fs-13);
}

.fs_12 {
    font-size: var(--fs-12);
}


/* font-weight */

.fw_700 {
    font-weight: 700;
}

.fw_500 {
    font-weight: 500;
}

.fw_400 {
    font-weight: 400;
}



@media (max-width:1200px) {
    :root {
        /* font_size */
        --fs-48: 38px;
        --fs-36: 36px;
        --fs-32: 32px;
        --fs-24: 24px;
        --fs-22: 22px;
        --fs-21: 21px;
        --fs-20: 20px;
        --fs-18: 18px;
        --fs-17: 17px;
        --fs-16: 16px;
        --fs-15: 15px;
        --fs-13: 13px;
        --fs-12: 12px;
    }
}

@media (max-width:992px) {
    :root {
        /* font_size */
        --fs-48: 40px;
        --fs-36: 36px;
        --fs-32: 32px;
        --fs-24: 24px;
        --fs-22: 22px;
        --fs-21: 21px;
        --fs-20: 20px;
        --fs-18: 18px;
        --fs-17: 17px;
        --fs-16: 16px;
        --fs-15: 15px;
        --fs-13: 13px;
        --fs-12: 12px;
    }
}

@media (max-width:768px) {
    :root {
        /* font_size */
        --fs-48: 40px;
        --fs-36: 25px;
        --fs-32: 27px;
        --fs-24: 24px;
        --fs-22: 22px;
        --fs-21: 21px;
        --fs-20: 20px;
        --fs-18: 14px;
        --fs-17: 17px;
        --fs-16: 16px;
        --fs-15: 15px;
        --fs-13: 13px;
        --fs-12: 12px;
    }
}

@media (max-width:576px) {
    :root {
        /* font_size */
        --fs-48: 30px;
        --fs-36: 20px;
        --fs-32: 27px;
        --fs-24: 24px;
        --fs-22: 22px;
        --fs-21: 21px;
        --fs-20: 20px;
        --fs-18: 14px;
        --fs-17: 17px;
        --fs-16: 16px;
        --fs-15: 15px;
        --fs-13: 13px;
        --fs-12: 12px;
    }
}