@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;
    scroll-behavior: smooth !important;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.pointer {
    cursor: pointer;
}

.clr_yellow {
    color: #FBB034;
    ;
}

.home {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
}

.home:hover {
    color: #FBB034;
}

.book {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
    background: #FBB034;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
    color: #000000;
}

.all {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 50px;
    border: 1px solid #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 106.5%;
    color: #FFFFFF;
}
.section_1_image{
    bottom: 0;
    right: 0;
}
.vh-80{
    min-height: 80vh;
}
.mlra {
    margin-left: auto !important;
    margin-right: auto !important;
}

.Welcome {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 106.5%;
}

.best {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 94.5%;
    color: #FFFFFF;
}

.high {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 116.5%;
    color: #9A9A9A;
    width: 389px
}